/* Education.css */
#education {
    background: linear-gradient(90deg, #4b6cb7, #182848);
    color: white;
    padding: 20px;
    flex: 1; /* Ensure it takes the full height of the viewport */
}

#education .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#education .education-item {
    margin-bottom: 20px;
}

#education .education-item h3 {
    margin: 0;
    color: #ffcc00; /* Match the hover color */
}

#education .education-item p {
    margin: 5px 0;
    color: white;
}