#projects {
  background: linear-gradient(90deg, #4b6cb7, #182848);
  color: white;
  padding: 20px;
  min-height: 100vh; /* Ensure it takes the full height of the viewport */
}

.project-card {
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffcc00; /* Match the hover color */
}

.project-description {
  font-size: 1em;
  margin-bottom: 15px;
  color: white;
}

.project-link {
  color: #ffcc00; /* Match the hover color */
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}
